@media only screen and (max-width: 768px) {
    #landing-page-entry .logo {
        /*margin-left: 9px !important;*/
    }

    .logo{
        margin-left: 2px !important;
        width: 150px !important;
    }

    #landing-page-entry .header ul li:nth-child(1){
    	/*padding-right: 10px;
    	padding-top: 50px; */
    	font-size: 12pt;
    	position: absolute;
    	top: 80px;
    	left: 0;
    }

    .header ul {
    	margin-right: 0px !important;
    	margin-top:15px !important;
    }

    .header ul li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5){
    	/*margin-right: 100px;
    	top: 6px;
    	position: absolute;*/
    }

 /*   .header ul li:nth-child(2){
    	right: -75px;
    }

    .header ul li:nth-child(3){
    	right: -105px;
    }

    .header ul li:nth-child(4){
    	right: -135px;
    }

    .header ul li:nth-child(5){
    	right: -165px;
    }*/

    .top-page .landing-container .slogan{
    	font-size: 22pt !important;
    }


    .top-page .landing-container a{
    	font-size: 18pt !important;
    }

    .top-page {
    	overflow: hidden;
    }

    .row div.col.col--1-of-3{
    	display: inline-block;
    }

	.row div.col.col--1-of-3:first-child{
		margin-left: -15px !important;
	}   
	 
    .row div.col.col--1-of-3 a{
    font-size: 10pt !important;
	}

	.top-page .landing-container div {
		margin-bottom: 15px !important;
	}

    .container-fluid>.navbar-collapse{
        background-color: white;
    }

    .header .nav>li>a{
        padding: 10px 0px 10px 0px;
    }

    .navbar-toggle{
        padding: 17px 18px; 
    }

     .navbar-toggle .icon-bar {
      background-color: black; /* Changes regular toggle color */
    }

}

@media only screen and (min-width: 768px){
    .header .navbar-nav>li>a{
        padding: 0px 5px 0px 0px;
        line-height: 40px;
    }
}
/*@media only screen and (max-width: 767px){
    .top-page {
       padding:0;
    } 
 }
*/

/*@media only screen and (max-width: 1050px) {
	body{
		overflow: hidden;
	}
}
*/